;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{
 ;; Paths
 ;;   Directories in the current project to include in the classpath

 :paths ["~/.clojure/dev-src"]

 ;; External dependencies

 ;; :deps {
 ;;   org.clojure/clojure {:mvn/version "1.10.3"}
 ;; }

 ;; Aliases
 ;;   resolve-deps aliases (-R) affect dependency resolution, options:
 ;;     :extra-deps - specifies extra deps to add to :deps
 ;;     :override-deps - specifies a coordinate to use instead of that in :deps
 ;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
 ;;   make-classpath aliases (-C) affect the classpath generation, options:
 ;;     :extra-paths - vector of additional paths to add to the classpath
 ;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps

 :aliases {:user/nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0-alpha1"}
                                     cider/cider-nrepl {:mvn/version "0.30.0"}
                                     refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}
                                     mx.cider/enrich-classpath {:mvn/version "1.9.0"}}
                        :main-opts ["-m" "nrepl.cmdline" "--interactive" "--color"
                                    "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}

           ;; Repl with Reveal visualization window.
           ;; Run with "clj -Mreveal:ci-dev", then connect to repl.
           ;; To start from emacs using cider, do C-u,C-c,M-j and use -Mreveal:ci-dev as first Argo.
           ;; See https://vlaaad.github.io/reveal for details.
           :user/reveal {:extra-deps {vlaaad/reveal {:mvn/version "1.3.277"}
                                      nrepl/nrepl {:mvn/version "1.1.0-alpha1"}
                                      cider/cider-nrepl {:mvn/version "0.30.0"}
                                      refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}
                                      mx.cider/enrich-classpath {:mvn/version "1.9.0"}}
                         :main-opts ["-m" "nrepl.cmdline"
                                     "--interactive" "--color"
                                     "--middleware" "[vlaaad.reveal.nrepl/middleware,cider.nrepl/cider-middleware, refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"
                                     "-e" "(require,'dev)"]
                         ;; optional​ preferences
                         :jvm-opts ["-Dvlaaad.reveal.prefs={:theme,:light}"]}
           :user/debugger {:extra-deps {com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.3.309"}}}}

 ;; Provider attributes

 ;; :mvn/repos {
 ;;   "central" {:url "https://repo1.maven.org/maven2/"}
 ;;   "clojars" {:url "https://repo.clojars.org/"}
 ;; }
 }
